#friends-display-link {
  text-align: center;
  width: 100%;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  margin-bottom: 10px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 20px;
  border-top: var(--border-gray);
  padding-top: 20px;
}

.friends-screen__channel-header {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.splash-screen {
  background-color: var(--yellow);
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  animation: hideSplashScreen 0.5s ease-in-out forwards;
  animation-delay: 1s;
}
